body { 
	background:#d5e3f7; 
	color:black;}

h1 { 
	font-family : 'Roboto', sans-serif;
	font-size:41px;
	color :#021354;}

h2 {
	color:#021354;
	font-family : 'Lora', serif;}

p { 
	font-family : 'Roboto', sans-serif;
	font-size :20px; 
	font-weight}

a { 
	text-decoration : underline;
	color :black;
	font-weight:bold;
	font-size :25px;}

a:hover{
	color :#021354;}

.container{
	width:700px; 
	margin :50px auto;}

@media(max-width:960px) {
	.container {
		width : 760px;}}

@media(max-width:760px) {
	.container {
		width : 600px;}}

@media(max-width:500px) {
	.container {
		width : 400px;}}

.card-white {
	background:white; 
	padding:30px; 
	border-radius:4px; 
	box-shadow:0 10px 30px rgba(0,0,0,0,0.1);
	margin:20px;
	text-align:center;}

.img-circle {
	border-radius:50%;}

.btn-blue {
	background-color:lightblue;
	color:white;
	padding:10px 20px;
	border-radius:4px;}

.list-inline {
	list-style:none; 
	padding-left:0px;}

.list-inline li {
	display:inline; 
	padding:10px;}

.list-inline i {
	font-size:50px;
	color:#b3c8e6;}

.list-inline i:hover {
	font-size:50px;
	color:#021354;}

#introduction p {
	margin-bottom:50px;
	margin-top:50px;}